<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tares Merchandising</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylessheet" href="../css/fondo.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
</head>







<!-- component -->
<div >

	<div
		>
		
		<!-- component -->
<div class="relative min-h-screen flex items-center justify-center bg-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
style="background-image: url(https://images.unsplash.com/photo-1532423622396-10a3f979251a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80);">
<div class="absolute bg-green-400 opacity-80 inset-0 z-0"></div>
<div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl shadow-lg z-10">
	
<div class="grid  gap-8 grid-cols-1">
<div class="flex flex-col ">
	
		<div class="flex flex-col sm:flex-row items-center">
			
			
			<div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
		</div>
		<div class="mt-5">
			
			<form  method="POST"  action="https://tareasft.herokuapp.com/events"
			>
			<div  class="form">
			
				
						<div class="mx-24 overflow-hidden rounded-xl bg-white shadow-md duration-200 hover:scale-105 hover:shadow-xl">
							<img src="logo-emege.png" alt="plant" class="h-auto w-full" />
							<h2 class="font-bold text-center text-green-700""> FT TAREAS</h2>
							<div class="p-5">
							  
							</div>
				</div>
					</div>
					<div class="md:flex flex-row md:space-x-4 w-full text-xs p-2">
						
						<div class="mb-3 space-y-2 w-full text-xs">
							<label  name="to" class="font-semibold text-gray-600 py-2">Nombre de Empresa <abbr title="required">*</abbr></label>
							<input placeholder="Company Name" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text"   name="summary" >
							<p class="text-red text-xs hidden">Please fill out this field.</p>
						</div>
						<div class="mb-3 space-y-2 w-full text-xs">
							<label   for="attendee email" class="font-semibold text-gray-600 py-2">Email Supervisor <abbr title="required">*</abbr></label>
							<input placeholder="Email ID" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text" for="attendee email"  type="email" name="email">
							<p class="text-red text-xs hidden">Please fill out this field.</p>
						</div>
					</div>
					
						</div>
						<div class="md:flex md:flex-row md:space-x-4 w-full text-xs">
							<div class="w-full flex flex-col mb-3">
								<label class="font-semibold text-gray-600 py-2">Cadena o Boca</label>
								<input placeholder="Address" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" type="text" name="to"  id="integration_street_address">
		  </div>
								<div class="w-full flex flex-col mb-3">
									<label class="font-semibold text-gray-600 py-2">Repositor<abbr title="required">*</abbr></label>
									<select class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full " required="required" name="seleccion" id="integration_city_id">
			  <option value="box1">Cristian Villagra</option>
			  <option value="box2">Yago Alonso</option>
			  <option value="box3">Marcelo Carcar</option>
			  <option value="box4">Lautaro Galli</option>
			   <option value="box5">Jorge Virgilio</option>
			</select>
									<p class="text-sm text-red-500 hidden mt-3" id="error">Por favor complete todos los campos</p>
								</div>
							</div>

							<label
							class="block text-gray-700 text-sm font-bold mb-2 pt-4"
							for="grid-state">
							<p class="text-gray-600 " >Dia y Mes</p> 
						</label>
						<input
							class="block appearance-none w-full bg-white border border-gray-400
							hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight
							focus:outline-none focus:shadow-outline input text-gray-700"
							name="eventStartTime"
							type="date"
							value={eventStartTime}
							onChange={obtenerInformacion}
						/>
						
					</div>
					<div>
						<label
							class="block text-gray-700 text-sm font-bold mb-2 pt-4"
							for="grid-state">
							<p class="text-gray-600 " >Horario</p> 
						</label>
						<input
							class="block appearance-none w-full bg-white border border-gray-400
							hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight
							focus:outline-none focus:shadow-outline input text-gray-700"
							name="eventStartTime1"
							type="time"
							value={eventStartTime1}
							onChange={obtenerInformacion}
						/>
						
							<div class="flex-auto w-full mb-4 text-xs space-y-4">
								<label class="font-semibold text-gray-600 py-4"></label>
								<textarea required="" name="description" class="w-full min-h-[100px] max-h-[300px] h-28 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4" placeholder="Enter your comapny info" spellcheck="false"></textarea>
								<p class="text-xs text-gray-400 text-left my-3">You inserted 0 characters</p>
							</div>
							<p class="text-xs text-red-500 text-right my-3">
							<abbr title="Required field"></abbr></p>
							<div class="mt-5 text-right md:space-x-3 md:block flex flex-col-reverse">
							
								<div class="pt-8">
                                    <button
									class="mb-2 md:mb-0 bg-green-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-500"
                                        type="submit"
                                      
                                        onclick="

Swal.fire('Por Favor Complete todos los campos'),
                                        
                                      Swal.fire({
                                        title: 'Buscando Disponibilidad....',
                                        html: 'horario disponible <b></b> minutos libres.',
                                        timer: 5000,
                                        timerProgressBar: true,
                                        didOpen: () => {
                                          Swal.showLoading()
                                          timerInterval = setInterval(() => {
                                            const content = Swal.getContent()
                                            if (content) {
                                              const b = content.querySelector('b')
                                              if (b) {
                                                b.textContent = Swal.getTimerLeft()
                                              }
                                            }
                                          }, 100)
                                        },
                                        willClose: () => {
                                          clearInterval(timerInterval)
                                        }
                                      }).then((result) => {
                                        /* Read more about handling dismissals below */
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                          console.log('I was closed by the timer')
                                        }
                                      
                                      })
                                    
                                    
                                      
                                  "
                                        >
                                        Enviar Solicitud
                                    </button>

                                   
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
            </form>
	</div>
</div>
                    </div>
                      
                         
                        </form>

                        
                                                </div>
                                                    
                                
            </div>
        </div>
    </div>
    <!-- component -->
<!-- footer -->
<footer class="bg-white w-full py-6 px-4"><!-- marging just for display-->
    
    <div class="flex items-center justify-between my-4">
        <p class="text-gray-500">Todos los Derechos Reservados</p>
        <p class="inline-flex text-blue-500 px-2 pt-6"> 
            <!--<svg fill="#e53e3e" viewBox="0 0 24 24"  class="w-5 h-5 mx-1 pt-px text-red-600" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
            </svg>--> <p class="text-gray-400"link="www.lamdev.com.ar">Desarrollo EasyTurno.net ©2022</p></p>
        <div  class="flex items-center">
            <button >
                <div  class="w-5  w-5 mr-6 bg-center-top ">
              
                      </button>
            <a href="">
                <svg class="h-6 w-6 fill-current text-blue-600 mr-6" viewBox="0 0 512 512">
                    <path d="M455.27,32H56.73A24.74,24.74,0,0,0,32,56.73V455.27A24.74,24.74,0,0,0,56.73,480H256V304H202.45V240H256V189c0-57.86,40.13-89.36,91.82-89.36,24.73,0,51.33,1.86,57.51,2.68v60.43H364.15c-28.12,0-33.48,13.3-33.48,32.9V240h67l-8.75,64H330.67V480h124.6A24.74,24.74,0,0,0,480,455.27V56.73A24.74,24.74,0,0,0,455.27,32Z"/>
                </svg>
            </a>
            <a href="">
                <svg fill="none"  class="h-6 w-6 text-blue-600 mr-6" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
                </svg>
            </a>
           
        </div>
    </div>
</footer>

</body>


</html>
<script>
